{% extends 'base.html' %}
{% block content %}
<h2>Admin Panel</h2>

<form method="POST">
    <input class="form-control mb-2" name="title" placeholder="Book Title">
    <input class="form-control mb-2" name="author" placeholder="Author">
    <input class="form-control mb-2" name="quantity" placeholder="Quantity">
    <button class="btn btn-success">Add Book</button>
</form>

<hr>

<table class="table table-bordered">
<tr>
    <th>Title</th>
    <th>Author</th>
    <th>Qty</th>
    <th>Action</th>
</tr>

{% for book in books %}
<tr>
    <td>{{book[1]}}</td>
    <td>{{book[2]}}</td>
    <td>{{book[3]}}</td>
    <td>
        <a href="/delete/{{book[0]}}" class="btn btn-danger btn-sm">Delete</a>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}